form > input,
form > textarea,
form > label {
	display: block;
	margin-bottom: 5px;
}

.contactus_title {
	font-size: var(--big-font-size);
	line-height: 140%;
	margin-bottom: var(--mb-1);
	text-align: center;
}

.contactus {
	padding: 3.5rem 0 2rem;
}

.contactus_container {
	position: relative;
	row-gap: 2rem;
}

/*.container {
	max-width: 968px;
	margin-left: var(--mb-1-5);
	margin-right: var(--mb-1-5);
}
  .container {
      max-width: 968px;
  }*/
.grid {
	display: grid;
}

.contactUs-button {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1.25rem;
	border-radius: 0.5rem;
	margin: 1.5rem 0;
	background-color: #453f65;
	border: none;
}

.contactUs-button:hover {
	background-color: #5f578a;
}

.contactUs-button span {
	display: block;
	padding: 10px 10px;
	text-decoration: none;
	color: white;
	font-weight: 600;
	font-size: 20px;
	margin-right: 5px;
	transition: margin-right 0.5s linear;
}

.contactUs-button i {
	display: block;
	text-decoration: none;
	color: white;
	font-size: 50px;
	margin-right: 5px;
}

.input-container {
	display: flex;
	justify-content: space-between;
}

.input-container label {
	min-width: 98px;
	margin-right: 22px;
	font-weight: 700;
	font-size: 24px;
}

.input-container + .input-container {
	margin-top: 26px;
}

.input-container input,
.input-container textarea {
	width: 100%;
	border-radius: 10px;
	border: 2px solid #453f65;
}

.input-container textarea {
	min-height: 214px;
}

.submit-container {
	display: flex;
	justify-content: center;
}
  .submit-container {
      display: flex;
      justify-content: center;
  }

  .submit-container button {
      min-width: 268px;
      min-height: 71px;

  }

/*=============== FOOTER ===============*/
.footer {
	background-color: var(--first-color);
}
.ftsection {
    padding: auto;
    margin-top: 3rem;
  }
.footer__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
}
.footer__title {
	font-size: var(--h2-font-size);
	margin-bottom: var(--mb-1);
	color: var(--body-color);
}
.footer__subtitle {
	font-size: var(--small-font-size);
	margin-bottom: 20px;
}

.footer__donate {
	display: flex;
	justify-content: center;
	padding: 0.75rem;
	padding-bottom: 0;
	border-radius: 0.5rem;
}

.footer__button {
	background-color: #d8bfd8;
	color: black;
	font-size: var(--normal-font-size);
}
.footer__button:hover {
	color: #c13584;
}
.footer__social {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__social-link {
	display: inline-flex;
	color: var(--body-color);
	padding: 0.9rem;
	font-size: 3rem;
	margin-bottom: 1.4rem;
	transition: 0.3s;
}

.footer__social-link:hover {
	color: #c13584;
}

.footer__rights {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--smaller-font-size);
	color: var(--body-color);
}

.footer__copy {
    margin-top: 0;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
	width: 0.6rem;
	background: hsl(var(--hue), 4%, 53%);
}

::-webkit-scrollbar-thumb {
	background: hsl(var(--hue), 4%, 29%);
	border-radius: 0.5rem;
}
/*=============== BREAKPOINTS ===============*/
/*For small devices*/

@media screen and (max-width: 320px) {
	.container {
		margin-left: var(--mb-1);
		margin-right: var(--mb-1);
	}

	.home__img {
		width: 180px;
	}

	.home__title {
		font-size: var(--h1-font-size);
	}
}

/* For medium devices */
@media screen and (min-width: 576px) {
	.footer__donate {
		width: 400px;
	}
}
  @media (min-width: 768px) {
    .contactus_container{
        margin: 5% 20%;
    }

.submit-container button {
	min-width: 268px;
	min-height: 71px;
}
  }